<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/css/style__bulletinboard.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/css/style__navbar.css" type="text/css" />
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script> -->
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>

    <title>WebBoard</title>
  </head>
  <body>
    <%- include ("./layout/navbar") %>
    <section id="home">
      <div class="board__title">자유 게시판</div>
      <%if(mod){%>
      <form action="/user/boardupdate" method="POST">
      <%}else{%>
      <form action="/user/board" method="POST">
      <%}%>
        <input type="hidden" name="userid" value="<%=user.userid %>" />
        <input type="hidden" name="board" value="<%=board%>" />
        <input type="text" name="title" class="board__inputtitle" />
        <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
        <script src="js/loadCkeditor.js"></script>
        <!-- <script>
          CKEDITOR.replace("editor1");
        </script> -->
        <input type="submit" class="submit__editor" value="등록" />
      </form>
    </section>
    <footer id="footer">
      <div class="copyright">Copyright (c) All Right Reserved.</div>
    </footer>
  </body>
</html>
