<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style__navbar.css" type="text/css" />
    <link rel="stylesheet" href="/css/style__createAccount.css" type="text/css" />
    <title>WebBoard</title>
  </head>
  <body>
    <%- include ("./layout/navbar") %>
    <section id="home">
      <h2>회원가입</h2>
      <form action="/user/createUser" class="create__account" method="POST">
        <div class="row">
          <div class="column">
            <input type="text" class="idstring" placeholder="ID" name="createID"/>
            <!-- <a href=""><i class="fas fa-check-square fa-2x"></i></a></div> -->
        </div>
        <div class="row">
          <div class="column">
            <input type="password" class="pwstring" placeholder="Password" name="createPW"/>
          </div>  
        </div>
        <div class="row">
          <input type="submit" class="create" value="Sign Up">
        </div>
      </form>
        
      </div>
    </section>
    <footer id="footer">
      <div class="copyright">Copyright (c) All Right Reserved.</div>
    </footer>
  </body>
</html>
