body {
  margin: 0;
  background-color: lightgray;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#home {
  max-width: 960px;
  margin: auto;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  #home {
    max-width: 1050px;
    margin: 0;
  }
}
