* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightgray;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#home {
  max-width: 960px;
  margin: auto;
  text-align: center;
}

.login__form {
  display: flex;
  justify-content: center;
}

.login__form fieldset {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20%;
}

.login__id,
.login__pw {
  padding: 8px;
  margin: 2px 0;
}

.login__submit {
  all: unset;
  width: 100%;
  padding: 6px 0;
  margin-top: 12px;
  text-align: center;
  border-radius: 20px;
  background-color: #388aff;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  #home {
    max-width: 1050px;
    margin: 0;
  }
  .boards {
    flex-direction: column;
  }
}
